@import "/src/index.css";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fe-scrap-card {
    background-color: var(--primary-main);
    width: 25vw;
    margin-bottom: 2vh;
    border-radius: 7px;
    padding: 10px;
}

.fe-scrap-card-new {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vh;
}
