@import '/src/index.css';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fe-resell{
    margin:4vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fe-resell-search-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
}

.fe-resell-search-table-card{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: flex-end; */
}

.fe-resell-table-data{
    background-color: var(--secondary-200);
    height:auto;
}